@function rem($px){
    @return $px/37.5*1rem;
}

.tj{
    padding: rem(100) 4% rem(50) 4%;
    .tujianOne{

         .TJcontent3{

             padding: 3% 0;
            .Importance{
                height: rem(70);
                 overflow: hidden;
                font-size: rem(17);
                position: relative;
                p{
                    display: inline-block;
                    width: 61%;
                }
                img{
                    position: absolute;
                    right: 0;
                    width: rem(110);
                   
                }
            }
            .tuijianTime{
                font-size: rem(13);
                color: #bbb;
            }
        }
    }
}